/*@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");*/

@import url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css");

.fa-facebook:hover, .fa-twitter:hover, .fa-vimeo:hover,
.fa-google-plus:hover, .fa-linkedin:hover, 
.fa-github:hover, .fa-envelope-o:hover {
  color: hsl(0, 0%, 100%);
 }

/* Facebook*/
.fa-facebook {
  color: hsl(221, 44%, 41%);
  border-color: hsl(221, 44%, 41%);
}

.fa-facebook:hover {
  background-color: hsl(221, 44%, 41%);
}

/*End Facebook*/


/* LinkedIn*/
.fa-linkedin {
  color: hsl(199, 85%, 36%);
  border-color: hsl(199, 85%, 36%);
}

.fa-linkedin:hover {
  background-color: hsl(199, 85%, 36%);
}
/* End LinkedIn*/


/* Vimeo*/
.fa-vimeo{
    color: /*hsl(0, 0%, 0%);*/ #44C0FD;
  border-color: hsl(0, 0%, 100%);
}

.fa-vimeo:hover {
  background-color:#000000;
}
/*End Vimeo*/


/* Github */
.fa-github {
  color: #000000;
  border-color: hsl(221, 44%, 41%);
}

.fa-github:hover {
  background-color:#4078C0;
}
/* Github */

/* Mail */
.fa-envelope-o  {
  color: #000000;
  border-color: hsl(221, 44%, 41%);
}

.fa-envelope-o:hover {
  background-color:hsl(199, 85%, 36%);
}
/* Mail */




.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.shadow .tab {
  background: none;
}

.shadow .circle {
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .4);
}

.shadow .fa-facebook,
.shadow .fa-twitter,
.shadow .fa-google-plus,
.shadow .fa-linkedin,
.shadow .fa-vimeo,
.shadow .fa-github,
.shadow .fa-envelope-o 
{
  border-color: hsl(0, 0%, 100%) !important;
  border: none;
  padding: 0px;
  height:21px;
  width:23px;
}

.squares .tab {
  background: none;
}

.square {
  padding: 9px 9px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  background: #fff;
}

.social-icons {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 0;
  width: 250px;
  height: 100px;
}

.tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left;
}

.circle {
  padding: 10px 10px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  /* background: #fff; */
  border-radius: 5px;
  border: solid 1px;
}


ul.social-icons{
    height: 30px;
    width:175px;

}