<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Let's Get In Touch!</h2>
            </div>
            <div class="col-sm-6">


                <p>
                </p>

                <form role="form" method="POST" action="#">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="input1">Name</label>
                            <input type="text" name="contact_name" class="form-control" id="input1">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="input2">Email Address</label>
                            <input type="email" name="contact_email" class="form-control" id="input2">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="input3">Phone Number</label>
                            <input type="phone" name="contact_phone" class="form-control" id="input3">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label for="input4">Message</label>
                            <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                <div style="width:500px;max-width:100%;overflow:hidden;height:500px;color:red;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Oakland,+CA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-maps-code" rel="nofollow" href="http://www.interserver-coupons.com" id="make-map-data">http://www.interserver-coupons.com</a>
                <style>
                    #embedded-map-display img {
                        max-width: none !important;
                        background: none !important;
                    }
                </style></div>
              <!--  <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=109633ae-bc7d-b4b9-42dd-9d07603188bc&c=google-maps-code&u=1476819047" defer="defer" async="async"></script>-->

            </div>
        </div>








    </div>
    <!-- /.row -->


</div><!-- /.container -->








