<div class="container">

    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                About

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 ">
            <img class="img-responsive myimage" src="/img/ryan.png">

            <div class="col-md-6">


                <div class="sqs-block-content">
                    <p>Hi, I'm Ryan.&nbsp;</p><p>Web Developer. Urbanite. Foodie. Part-Time Grad Student. Outdoor Adventurer.  &nbsp;</p>
                    <p>Inspired by climbing, skiing, traveling, photography, good food,  and even better conversations.</p>
               

                </div>


            </div>

        </div>


    </div>

