<div class="container">
    <h1></h1>
    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                About

            </h1>
            <ol class="breadcrumb">
                <li>
                    Home
                </li>

            </ol>
        </div>

    </div>
    <script>
        mixpanel.track("Video play");
    </script>
    <div class="row">
        <div class="col-md-6 ">
            <img class="img-responsive myimage" src="/img/ryan.png" alt="me">
            <div class="col-md-6"   style="padding-left: 140px;margin-left: 30px;border-left-width: 148px;width: 400px;float: none !important;">
                <div class="sqs-block-content">
                    <p>Hi, I'm Ryan.&nbsp;</p><p>Full Stack Developer. Urbanite. Foodie. Part-Time Grad Student. Outdoor Adventurer.  &nbsp;</p>
                    <p>Inspired by traveling, skiing, and the great selection of food in the Bay Area.</p>
                </div>
            </div>

        </div>

    </div>
</div>

