<script>
    "https://damp-garden-90999.herokuapp.com/user?user=rylew2"
    $.get("https://damp-garden-90999.herokuapp.com/user?user=rylew2", function (data) {
        console.log('Waking up Heroku...');
    });
</script>
<div class="container">

    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                Projects

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">Projects</li>
            </ol>
        </div>

    </div>

    <div class="row" style="padding-left: 3%">


        <div class="row" style="padding-left: 3%">
            <div class="col-md-8">
                <a href="#/ghv/main">GitHub Browser</a> - Searches against the GitHub API, pulling the user's repositories and collaborators.
                Built with Angular, D3, and DimpleJS.
                <br><br>
                <a href="#/ghv/main" style="margin:1em">Live Application (within this site)</a><br>
                <a href="https://github.com/rylew2/GitHubViewer" style="margin:1em">Original Source Code</a>
                <a href="https://github.com/rylew2/rylew2.github.io/tree/master/js/githubBrowser" style="magin:1em">Source Code within this site's repo.</a>
            </div>
            <div class="col-md-4">
               <a href="#/ghv/main"> <img src="../img/GithubBrowser.png" alt="sensecourse" style="width:75%" /></a>
            </div>
        </div>

        <hr style="border-color:#e1e1e1; max-width:100%">

        <div class="row" style="padding-left: 3%"></div>
        <div class="col-md-8">
            <a href="http://sensecourse.herokuapp.com/">SenseCourse</a> - A simple Flask application that uses IBM Watson Personality Insights, time commitment, and
            OMSCentral text reviews to generate course reccomendations. This app was built as part of
            <a href="https://www.omscs.gatech.edu/cs-6460-educational-technology">CS6460 Education Technology</a>.

            <br/>
            <br>
            <a href="http://sensecourse.herokuapp.com/">Live Application</a>
            <br>
            <a href="https://github.com/sensecourse/sensecourse">Source Code</a>
            <br>
            <a href="https://www.youtube.com/watch?v=LqpXGfcWBt0&t=468s">YouTube Presentation</a>
        </div>
        <div class="col-md-4">
            <a href="http://sensecourse.herokuapp.com/"><img src="../img/SenseCourse.png" alt="sensecourse" style="height:20%; width:100%" /></a>
        </div>
    </div>

    <hr style="border-color:#e1e1e1; max-width:100%">

    <div class="row" style="padding-left: 3%">
        <div class="col-md-12">
            <a href="https://github.com/rylew2/Machine-Learning-Assignments">Machine Learning Assignments</a> -The code here was used to explore various machine and reinforcement learning
            algorithms as part of an class for our grad school program. In each assignment I ran experiments on two datasets
            to compare and contrast algorithms in an attempt to highlight and intuitively understand the strengths and weaknesses
            of each algorithm. An accompanying report with experiment results was written and is excluded here but available
            by request. This code here was used for <a href=https://www.omscs.gatech.edu/cs-7641-machine-learning ">CS7641 Machine Learning</a>.
        
            <br><br><a href="https://github.com/rylew2/Machine-Learning-Assignments">Source Code</a>
        </div>
     </div>

    </div>