

<link rel="stylesheet" type="text/css" href="/css/githubBrowser/githubBrowser-donutChart.css">
<link rel="stylesheet" type="text/css" href="/css/githubBrowser/githubBrowser-barChart.css">


<script src="/js/githubBrowser/githubBrowser-d3RepoLanguages.js" type="text/javascript"></script>
<script src="/js/githubBrowser/githubBrowser-d3LanguageTotals.js" type="text/javascript"></script>



<div class="container">
    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                Projects

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li >
                    <a href="#/projects">Projects</a>
                </li>
                <li>
                    Github Browser: Top User Repositories
                  
                </li>
            </ol>
        </div>

    </div>
    <div class="loading" ng-show="loading!=null"> <!--ng-show="loading!=null" >-->
        <img src="../../img/gears.svg" style="padding-left:50%; padding-top:2%"/>
    </div>
    <div class="ghvmain col-lg-12" ng-hide="loading!=null">
        <img src="https://www.angularjs.org/favicon.ico" style="float:left;" />
        <h1>ngular GitHub Browser</h1> <br />
        <a href="#/ghv/main">Back to Search</a>

        <div>
            <!-- string is  -->
            <div>
                <p ng-show="user.message">{{user.message}}</p>
                <h2> GitHub username: {{user.login}}</h2>
                <h4>Top {{ (repos | toArray |  orderBy:repoSortOrder | limitTo: 10).length }} Repositories</h4>
               
            </div>
          
        </div> <!-- end div ng-show -->


        <div class="col-md-3" style="padding-left:0px !important">
            <table border=".5" ng-show="user" style="width:352px;" class="alternate">
                <thead>
                    <tr>
                        <th>Repository Name</th>
                        <th>Stars</th>
                        <th style="width:320px; display:none">Select to View Languages Used</th>
                    </tr>
                </thead>
                <tbody>
           

                    <tr ng-repeat="repo in repos | toArray |  orderBy:repoSortOrder | limitTo: 10" ng-click="changeRepo()">

                        <td>
                            <a href="#/ghv/repo/{{user.login}}/{{repo.name}}">
                                {{repo.name}}
                            </a>
                        </td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <!-- number filter -->
                        <!--<td>{{repo.language}}</td>-->
                        <td style="display:none">
                            <input  type="radio" class="languageRB" name="dataset" id="dataset" value="{{repo.name}}" <!--ng-click="changeRepo()"--> ng-checked="mycheck" /> 
                            <span class="languageSPAN" style="display:none" ng-repeat="(key,value) in repo.languages" data-key="{{key}}" data-value="{{value}}"></span>
                        </td>
                    </tr>
                </tbody>
            </table> <br />
            <p style="font-size:smaller; width: 320px">Select anywhere on repository row to view language breakdown. <br />Click the repository name to view more details.</p>
            

            <div class="stats" style="border: 1px solid black; width: 352px">
                <img ng-src="{{user.avatar_url}}" title="{{user.name}} class="ghvuserphoto ghvphoto" style="width:250px" />
                <p ng-show="user.name">{{user.name}}</p>
                <p ng-show="user.company"> Company: {{user.company}}</p>            
                <p ng-show="user.location">{{user.location}}</p>
                <p ng-show="user.blog"><a ng-href="{{user.blog}}">{{user.blog}}</a></p>
                <p ng-show="user.bio"> {{user.bio}}</p>

            </div>
        </div>
             <div id="chart" class="col-md-9">

                <h4 style="text-align:center" ng-show="chartMessage==null">Language Breakdown for {{thisRepo}}</h4>
                <div style="text-align:center">{{chartMessage}}</div>
     
            </div>

        <div class="col-md-9 barChartOuterDiv">
            <div class="barChart">
                
                <h4>Total Lines of Code by Language among Top {{langTotalCount}} Repositories for {{user.name}}</h4>
                <p><span id="city"></span> - <span id="inches"></span></p>
            </div>
        </div>

    </div>

    
 </div>


