<!DOCTYPE html>
<html ng-app="GitHubViewer">

<head>
    <link rel="stylesheet" href="/app/styles.css" type="text/css" />
    <script data-require="angular.js@1.2.24" data-semver="1.5.7" src="https://code.angularjs.org/1.5.7/angular.js"></script>
    <script data-require="angular-route@1.4.2" data-semver="1.4.2" src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
    <script src="https://use.fontawesome.com/fea894c569.js"></script>
    <script src="/githubviewer/app/app.js"></script> <!-- has to come before the other scripts since it is defining the module-->
    <script src="~/githubviewer/controllers/LeftNavController.js"></script>
    <script src="/app/controllers/MainController.js"></script>
    <script src="/app/controllers/UserController.js"></script>
    <script src="/app/controllers/RepoController.js"></script>
    <script src="/app/services/github.js"></script>

    <!-- github.js after the module is defined in script.js  -->
  
</head>
<body>



    <header id="header">
        <div class="innertube">

            <img src="https://www.angularjs.org/favicon.ico" style="float:left" />
            <h1>ngular GitHub Viewer</h1> <br />
            <p>Adapated from <a href="https://www.pluralsight.com/courses/angularjs-get-started">Pluralsight</a></p>
        </div>
    </header>

    <div id="wrapper">

        <main>
            <div id="content">
                <div class="innertube">

                    <div ng-view></div>
                </div>
            </div>
        </main>

        <nav id="nav" ng-controller="LeftNavController">
            <div class="innertube"><br/>
                {{message}}

            </div>
        </nav>

    </div>

    <footer id="footer">
        <div class="innertube">
            <p>Ryan Lewis</p>
            <a href="https://www.linkedin.com/in/ryan-lewis-378657a"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px"></i></a>
            <a href="https://github.com/rylew2"><i class="fa fa-github" aria-hidden="true" style="font-size:40px"></i></a>

        </div>
    </footer>

</body>
</html>