
<a href="#/app/views/main.html">Back to Search</a> 
<a href="#/app/views/user/{{repo.owner.login}}">Back to {{repo.owner.login}}'s profile</a>
  
  <h2>{{repo.name}}</h2>

<div>
    Issues: {{repo.open_issues_count}}
</div>

<br />

<table border=".5">
    <thead>
        <tr>
            <th>Image</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in repo.contributors">
            <td><a href="#/user/{{user.login}}">{{user.login}}</a></td>

            <td>
                <img width="200px" ng-src="{{user.avatar_url}}" title="{{user.login}}" />
            </td>
  
        </tr>
    </tbody>
</table>