<footer>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Ryan Lewis 2016. {{year.now() | date:'yyyy'}} </p>
            <div class="pull-right">

                <a href="https://www.facebook.com/rylew2" class="icon-button facebook"><i class="icon-facebook facebook"></i><span></span></a>
                <a href="https://www.linkedin.com/in/ryan-lewis-378657a" class="icon-button linkedin"><i class="fa fa-linkedin-square" ></i><span></span></a>
                <a href="http://vimeo.com/rylew2" class="icon-button github"><i class="fa fa-vimeo-square" aria-hidden="true"></i><span></span></a>
                <a href="http://github.com/rylew2" class="icon-button fa-github github"><i class="icon-github fa-github"></i><span></span></a>
                <i class="fa fa-camera-retro fa-lg"></i>



            </div>


        </div>
    </div>
    <!--/.footer-bottom-->
</footer>