<footer>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Ryan Lewis 2016. {{year.now() | date:'yyyy'}} </p>
            <div class="pull-right">
                <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter twitter"></i><span></span></a>
                <a href="http://facebook.com" class="icon-button facebook"><i class="icon-facebook facebook"></i><span></span></a>
                <a href="http://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus google-plus"></i><span></span></a>
            </div>

        
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>