<div class="container">
    
        <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                Projects

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">
                    <a href="#/projects">Projects</a>
                </li>
                <li>
                    Github Browser: Search
                </li>
            </ol>
        </div>

    </div>



    <div class="ghvmain">

      <form name="searchUser" ng-submit="search(username)">
        <input width="215px" type="search" required placeholder="Please enter a GitHub username" ng-model="username" />
        <input type="submit"  >
      </form>

      <br />
    </div> 
</div>
