<div class="container">
    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                Projects

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">
                    <a href="#/projects">Projects</a>
                </li>
            </ol>
        </div>

    </div>

    <div class="ghvmain">
        <a href="#/ghv/main">Back to Search</a> | 
        <a href="#/ghv/user/{{repo.owner.login}}">Back to {{repo.owner.login}}'s profile</a>

        <h2>{{repo.name}}</h2>

        <div>
            Issues: {{repo.open_issues_count}}
        </div>

        <br />

        <table border=".5">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in repo.contributors">
                    <td><a href="#/ghv/user/{{user.login}}">{{user.login}}</a></td>

                    <td>
                        <img width="150px" ng-src="{{user.avatar_url}}" title="{{user.login}}" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>