<div class="container">
    <div class="row">

        <div class="col-lg-12 ">
            <h1 class="page-header">
                Projects

            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li >
                    <a href="#/projects">Projects</a>
                </li>
                <li>
                    Github Browser: User
                </li>
            </ol>
        </div>

    </div>
    <div class="ghvmain">
        <a href="#/ghv/main">Back to Search</a>

        <div>
            <!-- string is  -->
            <div>
                <p ng-show="user.message">{{user.message}}</p>
                <h2> GitHub username: {{user.login}}</h2>
               
            </div>

            <b>Order:</b>
            <select ng-model="repoSortOrder">
                <option value="+name">Name asc</option>
                <option value="-stargazers_count">Stars desc</option>
                <option value="+language">Language asc</option>
            </select>
           
        </div> <!-- end div ng-show -->



        <table border=".5" ng-show="user">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stars</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder ">

                    <td>
                        <a href="#/ghv/repo/{{user.login}}/{{repo.name}}">
                            {{repo.name}}
                        </a>
                    </td>
                    <td>{{repo.stargazers_count | number}}</td>
                    <!-- number filter -->
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table> <br/>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}} class="ghvuserphoto ghvphoto" style="width:250px" />
    </div>
 </div>